# Ignore the virtual environment directory
env/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore VSCode settings
.vscode/

# Ignore SQLite database files
*.sqlite3

# Ignore Docker build files
build/

# Environment variables
.env

# Cloudflared credentials
.cloudflared
.cloudflared/*.json
.cloudflared/config.yml
certs/

nginx/conf.d/robectron.conf

# Node modules
node_modules

# Logs
logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
docker-compose.override.yml
.docker
.dockerignore

# Ignore other temporary or sensitive files
*.bak
*.swp
.DS_Store