www.robectron.com, robectron.com {
    tls /etc/ssl/certs/cfcertificate.pem /etc/ssl/private/cfkey.pem
    root * /usr/share/caddy
    file_server
    log {
        output file /var/log/caddy/access.log {
            roll_size 1gb
            roll_keep 5
            roll_keep_for 720h
        }
        format json
    }
}

